@use './src/styles/mixins/~fonts' as *;


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  // overflow-x: scroll;
  background-color: var(--col-back);
}


:where(p, h1,h2,h3,h4,h5,h6) {
  margin: 1em 0;
  color: var(--col-text);
}

p {
  @include font-body;
  color: var(--col-text);
  font-size: 100%;

  &.caption {
    color: var(--col-text-deut);
    font-size: 80%;
  }
}


hr {
  width: 100%;
  color: var(--col-back-deut);
}


::selection {
  color: white !important;
  background-color: var(--col-select) !important;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
