@use './src/styles/~nova' as *;
@use './src/styles/mixins/~fonts' as *;


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  overflow-x: hidden;
}


p {
  @include font-body;
}


::selection {
  color: white !important;
  background-color: $pink-elec !important;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
