@use './src/styles/links' as *;
@use './src/styles/mixins/~fonts' as *;
@use './src/styles/mixins/~interact' as *;


input[type="checkbox"] {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  border: 2px solid var(--col-line);
  border-radius: 0.75rem;
  color: white;

  &:checked {
    background: var(--col-deut);
  }

  &:hover {
    cursor: pointer;
  }
}


select, option {
  @include font-ui;
  font-size: 100%;
}

select {
  min-width: 8rem;
  padding: 0.5em;
  background-color: var(--col-card);
  border: none;
  border-radius: 0.5rem;

  @include focus-outline;
  @include interactive(
    var(--col-card-hover),
    var(--col-card-click)
  );
}

option {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--col-card);
  border: none;

  &:checked {
    background-color: var(--col-back-prot);
  }
}
