@use './src/styles/links' as *;
@use './src/styles/mixins/~fonts' as *;
@use './src/styles/mixins/~interact' as *;


$check-size: 1.5em;
$check-fill: 0.6;


input[type="checkbox"] {
  appearance: none;
    -webkit-appearance: none;
  width: $check-size;
  height: $check-size;
  position: relative;
  border: 2px solid var(--col-line);
  border-radius: 0.75rem;
  color: white;

  &::before {
    visibility: hidden;
    width: calc($check-size * $check-fill);
    height: calc($check-size * $check-fill);;
    border-radius: 0.5rem;
    background-color: var(--col-deut);
    content: "";
    position: absolute;
    left: calc($check-size * (1 - $check-fill) / 4);
    top: calc($check-size * (1 - $check-fill) / 4);
  }

  &:checked {
    &::before {
      visibility: visible;
    }
  }

  &:hover {
    cursor: pointer;
  }
}


select, option {
  @include font-ui;
  font-size: 100%;
}

select {
  min-width: 8rem;
  padding: 0.5em;
  background-color: var(--col-card);
  border: none;
  border-radius: 0.5rem;

  @include focus-outline;
  @include interactive(
    var(--col-card-hover),
    var(--col-card-click)
  );
}

option {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--col-card);
  border: none;

  &:checked {
    background-color: var(--col-back-prot);
  }
}
