@use './src/styles/~nova' as *;


$col-back: light-dark(#fefefe, #090909);
  $col-back-deut: light-dark(#f7f7f7, #1c1c1c);
  $col-back-trit: light-dark(#eee, #1c1c1c);
  $col-back-hover: light-dark(#f2f2f2, #1c1c1c);
  $col-back-active: light-dark(#eeeeee, #1c1c1c);
$col-text: light-dark(#090909, #fefefe);
  $col-text-prot: light-dark($blue-deep, $blue-cresc);
  $col-text-deut: light-dark($grey-storm, #979797);
  $col-text-trit: light-dark($grey-nova, #979797);
$col-line: light-dark($grey-nova, $blue-deep);

$col-accent: light-dark($pink-elec, $teal-elec);

$col-link: $pink-elec;

$col-focus: light-dark($blue-sky, $blue-elec);
