@use './src/styles/~variables' as *;


@mixin underline($thickness) {
  border-bottom: $thickness solid $col-line;
}

@mixin left-line($thickness) {
  border-left: $thickness solid $col-line;
}

@mixin right-line($thickness) {
  border-right: $thickness solid $col-line;
}
