@mixin font-ui {
  font-family: 'Outfit', 'Segoe UI', system-ui, sans-serif;
  font-weight: 369;
}

@mixin font-body {
  font-family: 'Fira Sans', 'Segoe UI', system-ui, sans-serif;
  font-weight: 400;
}

@mixin font-head {
  font-family: 'Lexend Deca', 'Segoe UI', system-ui, sans-serif;
  font-weight: 500;
}

@mixin font-flavour {
  font-family: 'Nanum Pen Script', 'Segoe UI', system-ui, sans-serif;
}

@mixin font-hand {
  font-family: 'Nanum Pen Script', 'Segoe UI', system-ui, sans-serif;
}
