@mixin font-ui {
  font-family: 'Outfit', 'Segoe UI', system-ui, sans-serif;
  font-weight: 369;
}

@mixin font-flavour {
  font-family: 'Nanum Pen Script', 'Segoe UI', system-ui, sans-serif;
}

@mixin font-hand {
  font-family: 'Nanum Pen Script', 'Segoe UI', system-ui, sans-serif;
}
