@use 'sass:list';

@use './src/styles/~variables' as *;
@use './src/styles/mixins/~anim' as *;


@mixin focus-outline {
  &:focus:not(:active) {
    outline: 1.5px solid var(--col-focus);
  }
}

@mixin interactive($hover, $click) {
  @include trans-default;

  &:hover {
    background-color: $hover;
    cursor: pointer;
  }

  &:active {
    background-color: $click;
    cursor: pointer;
  }
}
