@use 'sass:list';

@use './src/styles/~variables' as *;
@use './src/styles/mixins/~anim' as *;


@mixin focus-outline {
  &:focus:not(:active) {
    outline: 1.5px solid $col-focus;
  }
}

@mixin interactive(
  $col: #f2f2f2,
  $values: (42%, 69%, 88%),
  $focus: true
) {
  @include trans-default;

  &:hover {
    background-color: $col-back-deut;
  }

  &:focus {
    background-color: $col-back-deut;
  }

  &:active {
    background-color: $col-back-deut;
  }
}
