@use './src/styles/~nova' as *;
@use './src/styles/~variables' as *;
@use './src/styles/mixins/~fonts' as *;
@use './src/styles/mixins/~anim' as *;
@use './src/styles/mixins/~interact' as *;
@use './src/styles/mixins/~decorate' as *;

@use './src/styles/links' as *;


body {
  background-color: var(--col-back);
}


h2,h3,h4,h5 {
  @include font-head;
}

h2 {
  width: 90%;
  margin-top: 1em;
  padding: 0 0 0.25em;
  font-weight: 400;
  font-size: 200%;
  color: var(--col-head-deut);
  @include line(1.5px);

  // &:not(:has(p)) {
  //   margin-bottom: 1em;
  // }

  & + p {
    padding: 0 1em;
    font-size: 120%;
  }
}

h3 {
  margin: 1.5em 0 0.75em;
  font-weight: 350;
  font-size: 150%;
  color: var(--col-head-trit);
}

p {
  margin: 1em 0;
  @include font-body;
  font-weight: 400;
  color: var(--col-text);
  line-height: 150%;
}


b, strong {
  @include font-body;
  font-weight: 120%;
}

i, em {
  font-style: italic;
}

code {
  @include font-code;
}


ul {
  padding-left: 1em;
}

li {
  @include font-body;
  line-height: 150%;
  color: var(--col-text);

  &:has(ul) {
    margin: 0.5em 0;
  }
}

table {
  overflow-x: scroll;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  min-width: 5em;
  margin: 0;
  padding: 0.25em 0.5em;
  border: 1.25px solid var(--col-line);
}

th {
  @include font-head;
  color: var(--col-text-prot);
}

td {
  @include font-body;
  font-weight: 400;
  color: var(--col-text);
}

th {
  margin: 0;
  @include font-body;
  font-weight: 500;
}


blockquote {
  margin: 0;
  padding-left: 1em;
  @include line("left", 2px);

  p {
    color: var(--col-text-deut);
  }
}


img {
  max-width: 50vw;
}


details {
  padding-left: 1rem;
  @include line("left", 1px);

  > :not(summary) {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
}

details[open] {
  > :not(summary) {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
}

summary {
  max-width: 10em;
  margin-top: 1rem;
  padding: 0.25em 0.5em;
  color: var(--col-text);
  vertical-align: middle;
  border-radius: 0.5em;
  @include interactive(
    var(--col-back-deut),
    var(--col-back-deut)
  );

  &::marker {
    margin: 0;
    padding: 0;
    font-size: 75%;
  }

  > p, b {
    padding-left: 0.5em;
  }
}


.highlight {
  color: var(--col-text-prot);
}
