@use './src/styles/mixins/~fonts' as *;


@font-face {
  font-family: 'Matrix Book';
  src:
    local('Matrix-Book'),
    url('/fonts/matrix-book.ttf') format('truetype');
  font-display: swap;
}


h1,h2,h3,h4,
p {
  @include font-serif;
  // font-family: 'Matrix Book';  FIXME
}

img {
  max-width: 16vw;
}
