/* internal */
@import url('https://fonts.googleapis.com/css2?family=Geologica:slnt,wght@-12..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* root */
html {
  --darkness: true;

  --font-title: 'Geologica', 'Segoe UI Semibold', system-ui, sans-serif;
  --font-head: 'Montserrat', 'Segoe UI Semibold', system-ui, sans-serif;
  --font-body: 'Geologica', 'Segoe UI', system-ui, sans-serif;
  --font-code: 'SF Mono', 'Roboto Mono', 'Consolas', ui-monospace, system-ui, monospace;
  --font-flavour: 'Abel', 'Segoe UI', system-ui, sans-serif;
}

body {
  margin: 0px;
  background-color: var(--blue-night);
  color: #fff;
  font-size: 1.44em;
  font-family: var(--font-body);
}

/* core */
p {
  font-weight: 200;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-family: var(--font-title);
  font-weight: 500;
}
h2 {
  font-size: 2em;
  font-family: var(--font-head);
  font-weight: 600;
}
h3 {
  font-size: 1.69em;
  font-family: var(--font-head);
  font-weight: 500;
}

code {
  color: var(--mellow-cresc);
  font-family: var(--font-code);
  font-weight: 400;
}

em {
  font-variation-settings: "slnt" -2;
}
h1 em, h2 em, h3 em {
  font-variation-settings: "slnt" -4;
}

strong {
  font-weight: bolder;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--blue-cresc);
  transition: .12s;
}
a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.05rem;
  background-color: var(--blue-nova);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .1s ease-out;
}
a:hover {
  color: var(--blue-nova);
}
a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
a:visited {
  color: var(--lilac-cresc);
}
a:visited:after {
  background-color: var(--lilac-nova);
}
a:visited:hover {
  color: var(--lilac-nova);
}

/* specific */
#core {
  margin-left: min(10px, 20vw);
  margin-right: min(10px, 20vw);
  color: #fff;
}

#footer {
  width: 100%;
  padding: 2em 0em;
  background-color: #000;
  text-align: center;
  color: var(--grey-nova);
  font-family: var(--font-flavour);
}

/* dark */
/* html:has(--darkness = false) {
  background-color: #fff;
} */

/* p {
  color: #000;
} */
