/* CORE */
html {
  margin: 0;
  padding: 0;
  background-color: var(--blue-night);
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../.assets/wallpapers/cortex-violet.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  font-family: 'Nanum Pen Script', 'Shadows Into Light Two', sans-serif;
  font-size: 200%;
}

h1,h2,h3,h4 {
  margin: 0;
  font-family: Montserrat, system-ui, sans-serif;
}
h1 {
  margin: 0;
  font-family: 'Shadows Into Light Two';
  font-size: 600%;
}
h2 {
  margin-top: 4rem;
  padding-bottom: 1rem;
  font-size: 250%;
  font-weight: 600;
  border-bottom: 3px solid var(--pink-elec);
}
h3 {
  margin-top: 2rem;
  font-size: 200%;
  font-weight: 500;
}
h4 {
  font-size: 150%;
  font-weight: 400;
}

/* SECTIONS */
.align-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aside {
  width: 100%;
  color: color-mix(in srgb, #fff 42%, transparent);
  background-color: var(--blue-accent);
  background-color: color-mix(in srgb, var(--blue-deep) 20%, transparent);
}

/* CONTAINERS */
.explore-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: auto 1rem;
}
 
.content-card {
  width: 30em;
  margin: 1rem 1rem 1rem;
  padding: 1rem 1rem 0;
  border-radius: 1rem;
  background-color: rgb(0 0 0 / 42%);
  transition: background-color 0.2s;
}
.content-card:hover {
  background-color: color-mix(in srgb, var(--pink-elec) 10%, transparent)
}

.content-card h4 {
  color: var(--teal-elec);
}
.content-card .caption {
  color: #fff;
}
