/* Ignite
 * 1.0
 * 
 */
.ignite {
  --col-prot: oklch(69.96% 0.20 44.44);
  --col-deut: oklch(86.44% 0.177 93.53);
  --col-focus: cyan;
  --col-text: white;
  --col-text-prot: white;
  --col-text-deut: white;
  --col-text-trit: white;
  --col-text-bold: white;
  --col-back: oklch(10% 0 0);
  --col-back-prot: oklch(10% 0 0);
  --col-back-deut: oklch(20% 0 0);
  --col-back-trit: oklch(30% 0 0);
  --col-line: oklch(45% 0 0);
  --col-line-prot: red;
  --col-line-deut: red;
  --col-link: oklch(86.44% 0.177 93.53);
  --col-link-hover: oklch(75.78% 0.1634 70.24);
  --col-link-click: ;
  --col-card: ;
  --col-card-hover: ;
  --col-card-click: ;
}

/* soup
 * 1.0
 * Light colours for the Assort site
 */
.soup {
  --col-version: 2.0.0;
  --col-prot: oklch(65.12% 0.18 262.62);
  --col-deut: #ff055f;
  --col-flavour: oklch(80% 0.096 301.79);
  --col-hover: rgba(0 0 0 / 8%);
  --col-click: rgba(0 0 0 / 16%);
  --col-focus: oklch(75.8% 0.1336 243.03);
  --col-select: rgba(205 180 247 / 80%);
  --col-text: oklch(5% 0 0);
  --col-text-prot: #204080;
  --col-text-deut: oklch(60% 0.04 269.69);
  --col-text-trit: oklch(80% 0.04 269.69);
  --col-back: oklch(98.5% 0.002 269.69);
  --col-back-prot: red;
  --col-back-deut: oklch(97% 0.004 269.69);
  --col-back-trit: oklch(98% 0.003 269.69);
  --col-line: oklch(90% 0.02 269.69);
  --col-line-prot: red;
  --col-line-deut: oklch(85% 0.02 269.69);
  --col-link: oklch(44% 0.16 260);
  --col-link-visit: #404090;
  --col-link-hover: #ff0090;
  --col-link-click: #9040f1;
  --col-card: oklch(96% 0.01 269.69);
  --col-card-hover: oklch(95% 0.005 269.69);
  --col-card-click: oklch(85% 0.005 269.69);
}

/* souper
 * 1.0
 * Dark colours for the Assort site
 */
.souper {
  --col-prot: ;
  --col-deut: ;
  --col-focus: ;
  --col-text: ;
  --col-text-prot: ;
  --col-text-deut: ;
  --col-text-trit: ;
  --col-text-bold: ;
  --col-back: ;
  --col-back-prot: ;
  --col-back-deut: ;
  --col-back-trit: ;
  --col-line: ;
  --col-line-prot: ;
  --col-line-deut: ;
  --col-link: ;
  --col-link-hover: ;
  --col-link-click: ;
  --col-card: ;
  --col-card-hover: ;
  --col-card-click: ;
}
