/* GitHub Dark
 * 1.0.0
 * The GitHub dark theme
 */
.github-dark {
  --col-prot: oklch(63.54% 0.198 255.83);
  --col-deut: oklch(63.8% 0.196 19.13);
  --col-flavour: oklch(64.01% 0.175 146.74);
  --col-text: white;
  --col-text-prot: oklch(90.68% 0.15 95.36);
  --col-text-deut: oklch(69.21% 0.015 248.04);
  --col-back: oklch(27.81% 0.012 248.25);
  --col-back-prot: oklch(38.9% 0.132 256.56);
  --col-back-deut: oklch(41.56% 0.019 248.28);
  --col-back-trit: oklch(32.91% 0.016 248.3);
  --col-card: oklch(48.53% 0.018 251.31);
  --col-card-hover: oklch(55.14% 0.019 250.98);
  --col-link: oklch(63.54% 0.198 255.83);
  --col-link-visit: oklch(59.11% 0.165 297.31);
  --col-link-hover: red;
}

/* Ignite
 * 1.0
 * 
 */
.ignite {
  --col-prot: oklch(69.96% 0.20 44.44);
  --col-deut: oklch(86.44% 0.177 93.53);
  --col-focus: cyan;
  --col-text: white;
  --col-text-prot: white;
  --col-text-deut: white;
  --col-text-trit: white;
  --col-text-bold: white;
  --col-back: oklch(10% 0 0);
  --col-back-prot: oklch(10% 0 0);
  --col-back-deut: oklch(20% 0 0);
  --col-back-trit: oklch(30% 0 0);
  --col-line: oklch(45% 0 0);
  --col-line-prot: red;
  --col-line-deut: red;
  --col-link: oklch(86.44% 0.177 93.53);
  --col-link-hover: oklch(75.78% 0.1634 70.24);
  --col-link-click: ;
  --col-card: ;
  --col-card-hover: ;
  --col-card-click: ;
}

/* soup
 * 2.1.0
 * Light colours for the Assort site
 */
.soup {
  --col-prot: oklch(65.12% 0.18 262.62);
  --col-deut: #ff055f;
  --col-flavour: oklch(80% 0.096 301.79);
  --col-hover: rgba(0 0 0 / 8%);
  --col-click: rgba(0 0 0 / 16%);
  --col-focus: oklch(75.8% 0.1336 243.03);
  --col-select: rgba(205 180 247 / 80%);
  --col-text: oklch(5% 0 0);
  --col-text-prot: #204080;
  --col-text-deut: oklch(60% 0.04 269.69);
  --col-text-trit: oklch(80% 0.04 269.69);
  --col-back: oklch(98.5% 0.002 269.69);
  --col-back-prot: red;
  --col-back-deut: oklch(97% 0.004 269.69);
  --col-back-trit: oklch(98% 0.003 269.69);
  --col-line: oklch(90% 0.02 269.69);
  --col-line-prot: red;
  --col-line-deut: oklch(85% 0.02 269.69);
  --col-link: oklch(44% 0.16 260);
  --col-link-visit: #404090;
  --col-link-hover: #ff0090;
  --col-link-click: #9040f1;
  --col-card: oklch(96% 0.01 269.69);
  --col-card-hover: oklch(92% 0.02 269.69);
  --col-card-click: oklch(84% 0.02 269.69);
}

/* souper
 * 1.0
 * Dark colours for the Assort site
 */
.souper {
  --col-prot: ;
  --col-deut: ;
  --col-focus: ;
  --col-text: ;
  --col-text-prot: ;
  --col-text-deut: ;
  --col-text-trit: ;
  --col-text-bold: ;
  --col-back: ;
  --col-back-prot: ;
  --col-back-deut: ;
  --col-back-trit: ;
  --col-line: ;
  --col-line-prot: ;
  --col-line-deut: ;
  --col-link: ;
  --col-link-hover: ;
  --col-link-click: ;
  --col-card: ;
  --col-card-hover: ;
  --col-card-click: ;
}

/* Tokyo Night
 * 1.0.0
 * A beautiful combo of dark blues and vivid neons, inspired by the beautiful city of Tokyo at night.
 */
.tokyo-night {
  --col-prot: #7aa2f7;
  --col-deut: #ff757f;
  --col-flavour: #ff9e64;
  --col-hover: rgba(255 255 255 / 8%);
  --col-focus: #4fd6be;
  --col-select: #ff007c;
  --col-text: white;
  --col-text-prot: #ffc777;
  --col-text-deut: #737aa2;
  --col-text-trit: ##565f89;
  --col-back: #1f2335;
  --col-back-prot: #3b4261;
  --col-back-deut: #292e42;
  --col-back-trit: #161927;
  --col-line: #394b70;
  --col-line-deut: #161927;
  --col-link: #41a6b5;
  --col-link-visit: #9d7cd8;
  --col-link-hover: #ff007c;
  --col-card: #24283b;
  --col-card-hover: #292e42;
  --col-card-click: #565f89;
}

/* Tomorrow Night Blue
 * 1.0.0
 * The Tomorrow Night Blue VSCode theme.
 */
.tomorrow-night-blue {
  --col-prot: #d1f1a9;
  --col-deut: #ff9da4;
  --col-flavour: #ffc58f;
  --col-hover: rgba(255 255 255 / 5%);
  --col-select: #003f8e;
  --col-text: white;
  --col-text-prot: #ff9da4;
  --col-text-deut: #7285b7;
  --col-text-trit: #7285b7;
  --col-back: #001c40;
  --col-back-prot: #002451;
  --col-back-deut: #001733;
  --col-line: #7285b7;
  --col-line-deut: #7285b7;
  --col-link: #99ffff;
  --col-link-visit: #ebbbff;
  --col-link-hover: #d1f1a9;
  --col-card: #002451;
  --col-card-hover: #00346e;
  --col-card-click: #00346e;
}